*{
    font-family: 'Balsamiq Sans', cursive;}

/* styling the navigation bar********************************************************/
.navbar-light {
background: transparent;
}
.navbar-brand{
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}
.nav-link{
    font-weight: bold;
    font-size:15px;
    
}
ul{
    margin: 0 400px;
}


.home1:hover{
    
    background-color: white;
}
.home2:hover{
    background-color:  #d9534f;
}

/*styling the home*********************************************************************/
.home{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("https://res.cloudinary.com/glovoapp/w_700,h_360,f_auto,q_auto/Stores/fcroozktxajdh6qkalnn");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.pageTitle{
    font-weight: bolder;
    font-size: 60px;
}
/**********************************************************************************/
#about{
    background-color: rgba(153, 51, 51,0.9);
}
#menu{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(" https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTDkMGkebP29fQUoDNgf9g2OrhFurbuKb-cEA&usqp=CAU");
background-repeat: no-repeat;
background-size: cover;
height: 120vh;
}
#order{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("https://image.freepik.com/free-photo/pizza-pizza-filled-with-tomatoes-salami-olives_140725-1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.form-control{
    background: transparent;
}
/*******************************************************************************/
#contact{
    background-color: rgba(153, 51, 51,0.9);;
}
.table{
    display: none;}